<% if user_signed_in? %>

<h2>Pregunta</h2>
<br><br>

<div class="field">
<form>

  <input type=radio name="alternativa" value="A">A<br>
  <input type=radio name="alternativa" value="B">B<br>
  <input type=radio name="alternativa" value="C">C<br>
  <input type="submit" value="Enviar Respuesta"
</form>
</div>

<% end %>
