p#notice = notice

= render @comment
.subcomment
  - @comment.children.each do |subcomment|
    = render subcomment

= link_to 'Edit', edit_comment_path(@comment)
'  |
= link_to 'Back', comments_path
