<h1>Error de Conexión</h1>
    <p>Asegúrese de tener una clave correcta y un secreto para acceder a la
      aplicación de colaboración.</p>
    <p>Para más información contáctese con Fernanda Rodriguez</p>
