  <table class="table">
    <thead>
      tr
        th(colspan="2") Hahaha
        th(colspan="4") Hohoho
      tr
        <th>Video</th>
        <th>Contenido</th>
        <th>Interpretar</th>
        <th>Análisis</th>
        <th>Evaluación</th>
        <th>Inferencia</th>
        <th>Explicación</th>
        <th>Autoregulación</th>
        <th>N</th>
    </thead>
    <tbody>
      <tr each="{ trees }">
        <td onclick="{ selects(id) }">{ text }</td>
        <td onclick="{ selects(id) }"><percentage-box value="{ score.content }" /></td>
        <td onclick="{ select_filter(id, 'Interpretación') }"><percentage-box value="{ score.interpretation }" /></td>
        <td onclick="{ select_filter(id, 'Análisis') }"><percentage-box value="{ score.analysis }" /></td>
        <td onclick="{ select_filter(id, 'Evaluación') }"><percentage-box value="{ score.evaluation }" /></td>
        <td onclick="{ select_filter(id, 'Inferencia') }"><percentage-box value="{ score.inference }" /></td>
        <td onclick="{ select_filter(id, 'Explicación') }"><percentage-box value="{ score.explanation }" /></td>
        <td onclick="{ select_filter(id, 'Autoregulación') }"><percentage-box value="{ score.selfregulation }" /></td>
        <td>{ score.n }</td>
      </tr>

      <tr>
        <td></td>
        <td each="{ averages }"><percentage-box value="{ this.avg }" /></td>
      </tr>
    </tbody>
