<div class="container-fluid">

  <% if @my_answer.responder != nil %>
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10" style='padding: 2%;'>
        <h3><b>Tu respuesta</b></h3>
        <%= simple_format(@my_answer.responder, {style:"font-size:15px; line-height:1.5", align:"justify"})%>
      </div>
    </div>
  <% end %>
</div>
