<div class="container-fluid">

  <% if @student_answer.argumentar != nil %>
    <h3>Argumento compañera/o 1</h3>
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10">
        <%= simple_format(@student_answer.argumentar, {style:"font-size:15px; line-height:1.5", align:"justify"})%>
      </div>
    </div>
  <% end %>

  <% if @student_answer.argumentar_2 != nil %>
    <h3>Argumento compañera/o 2</h3>
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10">
        <%= simple_format(@student_answer.argumentar_2, {style:"font-size:15px; line-height:1.5", align:"justify"})%>
      </div>
    </div>
  <% end %>

</div>
